@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/roboto/Roboto-Light.eot); /* For IE6-8 */
  src: local('Roboto Light'),
    local('Roboto-Light'),
    url(../fonts/roboto/Roboto-Light.woff2) format('woff2'),
    url(../fonts/roboto/Roboto-Light.woff) format('woff'),
    url(../fonts/roboto/Roboto-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/roboto/Roboto-Regular.eot) format('eot'); /* For IE6-8 */
  src: local('Roboto'),
    local('Roboto-Regular'),
    url(../fonts/roboto/Roboto-Regular.woff2) format('woff2'),
    url(../fonts/roboto/Roboto-Regular.woff) format('woff'),
    url(../fonts/roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/roboto/Roboto-Medium.eot) format('eot'); /* For IE6-8 */
  src: local('Roboto Medium'),
    local('Roboto-Medium'),
    url(../fonts/roboto/Roboto-Medium.woff2) format('woff2'),
    url(../fonts/roboto/Roboto-Medium.woff) format('woff'),
    url(../fonts/roboto/Roboto-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/roboto/Roboto-Bold.eot) format('eot'); /* For IE6-8 */
  src: local('Roboto Bold'),
    local('Roboto-Bold'),
    url(../fonts/roboto/Roboto-Bold.woff2) format('woff2'),
    url(../fonts/roboto/Roboto-Bold.woff) format('woff'),
    url(../fonts/roboto/Roboto-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/roboto/Roboto-Italic.eot) format('eot'); /* For IE6-8 */
  src: local('Roboto Italic'),
    local('Roboto-Italic'),
    url(../fonts/roboto/Roboto-Italic.woff2) format('woff2'),
    url(../fonts/roboto/Roboto-Italic.woff) format('woff'),
    url(../fonts/roboto/Roboto-Italic.ttf) format('truetype');
}
